@model.Lab_task.Models.Student
@{
    ViewBag.Title = "Create";
}





<h2>Create</h2>


<h2>Create</h2>
<div>
    <form action="/Student/Create" method="post">
        <input type="text" name="Name" class="form-control" placeholder="Name.." />
        <input type="date" name="Dob" class="form-control" placeholder="Dob.." />
        <input type="text" name="Credit" class="form-control" placeholder="Credit.." />
        <input type="text" name="Cgpa" class="form-control" placeholder="Cgpa.." />
        <input type="submit" class="btn btn-success btn-block" value="Add" />
    </form>
</div>

