@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Dob</th>
            <th>Credit</th>
            <th>Cgpa</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Name</td>
            <td>Dob</td>
            <td>Credit</td>
            <td>Cgpa</td>
            <td><a class="btn btn-success">Edit</a></td>
            <td><a class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
</div>